<main class="contenedor">
    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" placeholder="Nombre">
        </div>

        <div class="campo">
            <label for="nombre">Correo electrónico</label>
            <input type="email" name="email" placeholder="Correo electrónico">
        </div>

        <div class="campo">
            <label for="nombre">Contraseña</label>
            <input type="password" name="contrasena" placeholder="Contraseña">
        </div>

        <div class="campo">
            <label for="nombre">Repetir contraseña</label>
            <input type="password" name="confirmar" placeholder="Repite tu contraseña">
        </div>

        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar sesión</a>
        </div>

        <div class="campo">
            <input type="submit" value="Crear cuenta" class="btn btn-azul">
        </div>
    </form>
</main>