<main class="contenedor">
    <form action="/editar-perfil" method="POST" class="default-form" enctype="multipart/form-data">
        <div class="campo">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" placeholder="Nombre" value="{{usuario.nombre}}" required>
        </div>
        <div class="campo">
            <label for="nombre">Correo electr칩nico</label>
            <input type="email" name="email" placeholder="Correo electr칩nico" value="{{usuario.email}}" required>
        </div>
        <div class="campo">
            <label for="nombre">Contrase침a</label>
            <input type="password" name="contrasena" placeholder="Contrase침a">
        </div>
        <div class="campo">
            <label for="imagen">Imagen de perfil</label>
            <input type="file" name="imagen" placeholder="Elige tu imagen de perfil" accept="image/*">
            <img src="uploads/perfiles/{{imagen}}" class="admin-perfil">
        </div>
        <div class="campo">
            <input type="submit" class="btn btn-azul" value="Guardar cambios">
        </div>
    </form>
</main>