<main class="contenedor">
    <form method="post" class="default-form">
        <div class="campo">
            <label for="contrasena">Nueva contraseña</label>
            <input type="password" name="contrasena" placeholder="Nueva contraseña" required>
        </div>
        <div class="campo">
            <input type="submit" value="Guardar cambios" class="btn btn-azul">
        </div>
    </form>
</main>