<main class="contenedor">
    <form action="/reestablecer" method="post" class="default-form">
        <div class="campo">
            <label for="email">Correo electrónico</label>
            <input type="email" name="email" placeholder="Correo electrónico" required>
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a Iniciar sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer" class="btn btn-azul">
        </div>
    </form>
</main>